@import url(reset.css);

.wrap {
    width: 450px;
    /* margin: 0 auto; */
    position: relative;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

header {
    /* width: 100%; */
    position: absolute;
    z-index: 10;
    display: flex;
    left: 426px;
}

.menu {
    margin-right: 10px;
    transform: translateY(20px);
    cursor: pointer;
}

.menu_wrap {
    position: relative;
    /* left: -450px; */
    background-color: lightblue;
    height: 100vh;
    width: 450px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.active {
    left: -24px;
}

li {
    margin-bottom: 20px;
}


.conlist {
    width: 450px;
    background-color: rgb(225, 224, 224);
    /* border: 1px solid #1d1d1d; */
    /* border-radius: 20px; */
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.bg img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-heart {
    cursor: pointer;
}

.full-heart {
    color: red;
}
